.search-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin: .5rem 2rem;
  p {
    flex: 1;
    margin: .2rem .5rem;
    text-align: left;
  }
  button {
    //abstraer esto a variables o componente, está reutilizado
    font-size: .85rem;
    padding: .5rem;
    background-color: #78C000;
    border-radius: .5rem;
    color: white;
  }
}
