<section class="user-stats-bar">
   <ng-container *ngIf="projectId">
      <a [routerLink]="['/project', projectId]"
         routerLinkActive="activeLink">
         <i (click)="playSound()"
            class="icon ion-md-book"></i>
         Project
      </a>
      <a [routerLink]="['/project', projectId, 'tasks']"
         routerLinkActive="activeLink">
         <i (click)="playSound()"
            class="icon ion-md-checkbox-outline"></i>
         Tasks
      </a>
      <a [routerLink]="['/project', projectId, 'worksessions']"
         routerLinkActive="activeLink">
         <i (click)="playSound()"
            class="icon ion-md-locate"></i>
         Work
      </a>
   </ng-container>
</section>
