<header class="tu-header"
        (notificate)="showNotification = !showNotification"></header>

<main [@routeAnimations]="prepareRouteAnimation(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>

  <!-- Notifications -->
  <ng-container *ngIf="showNotification && notification">
    <tu-invitation-card [@invitationAnimation]
                        class="live-notification"
                        [invitation]="notification"
                        (onAnswer)="sendAnswer($event)">
    </tu-invitation-card>
  </ng-container>
</main>

<footer class="tu-footer"></footer>
