<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"

  >
  <!-- [snMarkAsTouched]="registerForm" -->
  <div class="form-group">
    <input
    type="text"
    formControlName="name"
    placeholder="Insert your name"
    required
    autofocus
    />
    <label>Name</label>
    <!-- <sn-validation-messages
      [control]="registerForm.get('fullName')"
    ></sn-validation-messages> -->
  </div>
  <div class="form-group">
    <input
    type="email"
    formControlName="email"
    placeholder="Email"
    required
    />
    <label>Email</label>
    <!-- <sn-validation-messages
      [control]="registerForm.get('email')"
    ></sn-validation-messages> -->
  </div>
  <div class="form-group">
    <input
    type="password"
    formControlName="password"
    placeholder="Password"
    autocomplete="new-password"
    required
    />
    <label>Password</label>
    <!-- <sn-validation-messages
      [control]="registerForm.get('password')"
    ></sn-validation-messages> -->
  </div>
  <div class="form-group">
    <input
    type="password"
    formControlName="confirmPassword"
    placeholder="Confirm your password"
    required
    />
    <label>Confirm your password</label>
    <!-- <sn-validation-messages
      [control]="registerForm.get('confirmPassword')"
      [group]="registerForm"
    ></sn-validation-messages> -->
  </div>
  <button type="submit" class="btn btn-login">Sign in!</button>
</form>
