<section>
  <header class="primary-header--focus"> Focus</header>
  <article class="active-task">
    <i class="icon ion-md-arrow-dropleft"></i>
    <p>{{ task.name }}</p>
    <i class="icon ion-md-arrow-dropright"></i>
  </article>
  <article class="countdown"
           *ngIf="!stopFlag">
    <h1>{{ hour | async }}:{{ min | async }}:{{ sec |async }}</h1>
  </article>
  <article class="countdown"
           *ngIf="stopFlag">
    <h1> 0:0:0</h1>
  </article>

  <div class="countdown-controls">
    <!-- (click)="toggleAlertSound(ivolume)" -->
    <button class="btn-round"
            #stopBtn>
      <i #ivolume
         class="icon ion-md-volume-low"></i></button>
    <button (click)="stopSession()"><i #istart
         class="icon ion-md-pause"></i></button>
    <!-- (click)="onTogglePlay(istart)" -->
    <button #startBtn><i #istart
         class="icon ion-md-play"></i></button>
  </div>

</section>
