section {
  height: 100%;
  overflow-y: hidden;
  background-image: 
  linear-gradient(to right,
  rgba(0, 0, 28, 0.99) 0%,
  rgba(0, 0, 28, 0.9) 50%,
  rgba(0, 0, 28, 0.66) 90%),
  linear-gradient(to bottom,
  transparent 0%,
  rgba(0, 0, 28, 0.70) 40%,
  rgba(0, 0, 28, 0.75) 100%),
  url("/assets/images/bg/tyson-dudley-107701-unsplash.jpg");
  background-color: black;
  background-size: cover;
  background-blend-mode: luminosity;
}

.countdown {
  & h1  {
    flex-grow:1;
    font-weight: 300;
    letter-spacing: .25rem;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
}
.active-task {
  display: inline-flex;
  justify-content: center;

  width: 95%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border-radius: 1rem;
  p {
    text-align: center;
    flex-grow:1;
  }
  i {
    color: darkslategrey;
    &:hover {
      color: lightgrey;
    }
  }
  
}
.countdown-controls {
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
  & button {
    margin: .25rem;
    color: lightgrey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: transparent;
    border: 1.25px solid lightgrey;
    & i {
      font-size: 1.2rem;
      &:hover {
        color: white;
      }
    }
  }
}
