:host {
  display: flex;
}
.profile-avatar {
  display: inline-flex;
  order: 1;
  figure {
    position: relative;
    // height: 150px;
     .snack {
      border: 2px solid transparent;
      font-size: .9rem;
      padding: .5rem;
      border-radius: 1rem;
      position: absolute;
      background-color: rgba(47, 79, 79, 0.9);
      color: white;
      bottom: 0;
      left: .5rem;
      transition: all .2s ease-in;
      i {
        font-size: 1.5rem;
        margin-right: .25rem;
      }
      &:hover, &:active {
        border-color: orange;
        border-color: white;
        background-color:  rgb(47, 79, 79);
        i {
          color: lightgreen;
        }
    
      }
    }
  }
}
