:host {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 250px;
}
form {
  margin-top: 3rem;
  input {
    margin: .5rem;
  }
  button {
    margin: 0 auto;
    display: block;
    margin-top: 1rem;

  }
}

.profile-avatar {
  display: flex;
  height: 250px;

  border-color: 1px solid lightgrey;
  background-color: #00000005;
  figure {
    position: relative;
     .snack {
      border: 2px solid transparent;
      font-size: .9rem;
      padding: .5rem;
      border-radius: 1rem;
      position: absolute;
      background-color: rgba(47, 79, 79, 0.9);
      color: white;
      bottom: 0;
      left: .5rem;
      transition: all .2s ease-in;
      i {
        font-size: 1.5rem;
        margin-right: .25rem;
      }
      &:hover, &:active {
        border-color: orange;
        border-color: white;
        background-color:  rgb(47, 79, 79);
        i {
          color: lightgreen;
        }
      }
    }
  }
}
