<div class="profile-avatar">
  <figure (click)="addFile()">
    <figcaption>Profile picture</figcaption>
    <tu-avatar [src]="user?.avatarUrl"
               height="150px"
               [radius]="0"></tu-avatar>
    <span class="snack"><i class="ion-md-cloud-upload"></i></span>
  </figure>
  <input type="file"
         #file
         style="display: none"
         (change)="onFileAdded()" />
</div>

<form action="">
  <div class="form-group">
    <input type="text"
           formControlName="name"
           placeholder="Insert your name"
           required
           autofocus />
    <label>Name</label>
  </div>
  <div class="form-group">
    <input type="email"
           formControlName="email"
           placeholder="Email"
           required />
    <label>Email</label>
  </div>
</form>
