<!-- <button (click)="saveTasks(tasks)">+</button> -->
<section>
  <header>
    <h1>Task Creator </h1>
  </header>
  <div class="btn-group">
    <p class="small" (click)="startTaskCreation()">Create</p>
    <p class="small" (click)="activeMode = 'project'">Project</p>
    <p class="small" (click)="activeMode = 'sprint'">Sprint</p>
  </div>

  <!-- New tasks -->
  <ng-container *ngIf="activeMode === 'creation'">
    <div class="task-list">
      <form [formGroup]="taskForm" (ngSubmit)="addTask()">
        <input formControlName="name" type="text" name="task" id="task" placeholder="What do you want to make?"
          autofocus autocomplete="off">
        <button type="submit">+</button>
      </form>
      <button type="button" (click)="saveAll()">Save</button>

      <ng-container *ngIf="newTasks.length">
        <div @list class="task-container">
          <p @items *ngFor="let task of newTasks; let i=index;" (click)="removeTask(i)">
            {{task.name}}
          </p>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!--  Project  -->
  <div class="task-list">
    <ng-container *ngIf="activeMode === 'project'">
      <div @list class="task-container">
        <p @items *ngFor="let task of (taskStore.state$ |async) | filterTasks:sprintStore.state.tasks:'not'"
          (click)="toggleAssignation(task)">
          <!--  | filterTasks:sprintStore.state.tasks:'not' -->
          {{task.name}}
        </p>
      </div>
    </ng-container>
  </div>

  <!--  Sprint -->
  <div class="task-list">
    <ng-container *ngIf="activeMode === 'sprint'">
      <div @list class="task-container">
        <p @items *ngFor="let task of taskStore.state$ |async | filterTasks:sprintStore.state.tasks"
          (click)="toggleAssignation(task)">
          {{task.name}}
        </p>
      </div>
    </ng-container>
  </div>

</section>
