<section>
  <header>
    <h1> Sprint </h1>
  </header>

  <article class="advice">
    <h1><strong>Hint:</strong></h1>
    <p> Para llevar mejor control sobre tu progreso, es recomendable utilizar sprints
      de una duración fija, y no muy extensa. ¿Una semana, dos?
    </p>
  </article>


  <form [formGroup]="sprintForm" (ngSubmit)="onSubmit()">

    <label for="startsAt">¿Cúando empezamos?</label>
    <input formControlName="startsAt" type="date" id="startsAt">

    <label for="endsAt">¿Cúando debería acabar?</label>
    <input formControlName="endsAt" type="date" id="endsAt">

    <label for="reward">Recompensa</label>
    <input formControlName="reward" type="text" id="reward">

    <p>
      <label for="strictMode">Modo estricto</label>
      <input type="checkbox">
    </p>

    <button type="submit">+</button>
  </form>
</section>
