:host {
  height: 100%;
  display: block;
}

header{
  display: flex;
  justify-content: center;
  h1 {
    text-transform: none;
  }
}
p {
  text-align: center;
  font-size: 1rem;
  span {
    font-weight: bold;
  }
}
form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  input {
    background-color: white; /* rgb(194, 188, 188); */
    width: 75%;
    font-size: 1rem;
    padding: .15rem;
    border-radius: .5rem;
    margin: .5rem 0;
    /* From task-creator component, shared styles */
    border-radius: 2rem;
    border-color: darkcyan;
    border-style: double;
    width: 70%;
    padding: .55rem;
    margin: 1rem auto;
    font-size: .95rem;
    &:focus {
      outline: 0;
      border-color: burlywood;
    }
  }
  label {
    text-align: left;
    font-weight: bold;
    padding-bottom: .25rem;
    border-bottom: 1px solid lightgreen;
  }
}
