<header>
  <h1>Project Creation</h1>
</header>
<p>
  You got <span>{{ dateDistance | msTo: 'greatest'}}</span> to acomplish your goal!
</p>

<form [formGroup]="projectForm"
      (ngSubmit)="onSubmit()">
  <!-- <label for="name">Project Name </label> -->
  <input formControlName="name"
         type="text"
         id="name"
         placeholder="Project Name"
         autocomplete="off"
         spellcheck="false"
         (focus)="playFocus()">

  <label for="datestart">When do we start?</label>
  <input formControlName="startAt"
         type="date"
         id="datestart"
         (focus)="playFocus()">

  <label for="dateend">When should it end?</label>
  <input formControlName="deadline"
         type="date"
         id="dateend"
         (focus)="playFocus()">


  <button class="btn"
          type="submit">Create!</button>
</form>
